body
{
	background-image: url("3051362.jpg")
}

	.login_div1 , .login_div2
	{
		background: rgb(213, 226, 31);
		padding: 10px;
		float: none;
		border-radius: 25px;
	}

#output
{
	background: rgb(245, 221, 10);
	border-radius: 10px;
	border-top: 10px solid rgb(4, 49, 250);
	padding: 10px;
	float: none;
	text-align: left;
}
